:root {
  --kb-white: #fff;
  --kb-primary: #0b93df;
  --kb-blue: #4556af;
  --kb-light-blue: #eaf5ff;
  --kb-yellow: #f0ad56;
  --kb-green: #10b857;
  --kb-pink: #af4585;
  --kb-gray: #c4c4c4;
  --kb-darker-gray: #222222;
  --kb-dark-gray: #343434;
  --kb-light-gray: #666666;
  --kb-border-radius: 0.375rem;
  --kb-border-radius-sm: 0.75rem;
  --kb-box-shadow: 0px 0px 10px rgba(184, 188, 192, 0.25);
  --bs-font-sans-serif: 'Ubuntu', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.149;
}

h1,
.h1 {
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 1.122;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.149;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.149;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.149;
}

.f-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.148;
}

ul {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
