.breadcrumbInner {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.breadcrumbItem > a {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--kb-dark-gray);
  text-decoration: none;
  line-height: 1.14;
  pointer-events: auto;
}
.breadcrumbItem.active a {
  font-weight: 500;

  pointer-events: none;
}
.breadcrumbSeparator {
  font-size: 1.25rem;
  margin-inline: 0.25rem;
}
