.row {
  flex-flow: wrap;

  box-sizing: border-box;
  display: flex;

  margin-right: -15px;
  margin-left: -15px;
}
.leftSidebar {
  -ms-flex: 0 0 26%;
  flex: 0 0 26%;
  max-width: 26%;
  padding-right: 15px;
  padding-left: 15px;
}
.rightSidebar {
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  padding-right: 15px;
  padding-left: 15px;
}
