.row {
  flex-flow: wrap;

  box-sizing: border-box;
  display: flex;

  margin-right: -15px;
  margin-left: -15px;
}
.leftSidebar {
  -ms-flex: 0 0 26%;
  flex: 0 0 26%;
  max-width: 26%;
  padding-right: 15px;
  padding-left: 15px;
}
.rightSidebar {
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  padding-right: 15px;
  padding-left: 15px;
}
.submenu {
  display: flex;
  flex-direction: column;
  margin-block-start: 0.625rem;
  padding-inline-start: 1.25rem;
}
.submenu a {
  color: var(--kb-gray);
  margin-block-end: 1.375rem;
  text-decoration: none;
  cursor: pointer;
}
.submenu a:hover {
  color: var(--kb-blue);
}
.submenu a:last-child {
  margin-block-end: 0;
}
.submenu a.active {
  font-weight: 500;
  color: var(--kb-blue);
}
