@layer components {
  .h-75 {
    max-height: 75vh;
  }
}

.image-gallery-icon svg {
  width: 43px;
}

.image-gallery-icon:hover svg {
  color: #4eacb3;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border-color: #4eacb3 !important;
}
