@layer components {
    .remove-button button {
        @apply border-0 hover:bg-transparent hover:text-theme-neutral p-0 mt-2 md:mt-0
    }
    .card-body{
        @apply px-0
    }
    .cart-image {
       width: 6rem;
       height: 6rem;
    }
    .line-clamp-2{
        display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    
    }
}
  